.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}


.modalContent {
  position: fixed;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  transform: translateX(50%);
}